/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/


.body
{
min-width:1366px;
}





/* Header сайта*/

.container { 
    width:1366px;
    margin:0 auto;
    display:flex;
    justify-content:center;
    
}
.header-width{
  width:800px;
}
.header-top{
    
    display:flex;
    justify-content:space-between;
  
    
}
.header-lang {
    display:inline;
    justify-content: space-between;
    
    
}
.header-lang__item{
    
    display:inline-block;
    line-height: 19px;
    color: black;
    font-size:10px;
    text-transform: uppercase;
    
    letter-spacing: 1px;
    margin: 0px 10px 0px 0px;
    padding: 0px 4px;
    
}


.header-bottom {
    display: flex;
    align-items:center;
    justify-content:space-between;
}    



.header-menu-list {
    width:250px;
    display: flex;
    justify-content:space-between;

}

.header__link{
    
    display:inline;
    color:black;
    text-decoration:underline;

    
    
}

.header-logo {
    display: flex;
    flex-direction:column;
    align-items:center;
}

.header-menu__link{
    
    font-size: 15px;
    font-weight:400;

} 


/*----------------------
------------------------
------------------------
--------first block-----
------------------------
------------------------
----------------------*/
.block1{
display:flex;
width:1366px;
margin:33px auto 0px;

}


.private__column{
background-color:black;
color:white;
width:683px;


}

.private__title{
    padding:82px 0px 0px 62px;
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;

}

.private__text{
      padding:37px 0px 0px 62px;
      font-size: 15px;
      line-height: 25px;
      font-weight: 400;
      
}


.private-buttons{
    margin:55px 0px 0px 62px;
}

.btn--w
{
display:inline-block;
background-color:white;
color:black;
padding:18px 33px 17px 33px;



}
.link--b
{
   display:inline-block;
   text-decoration:underline;
   color:white; 
   margin: 0 0 0 14px;

}
/*----------------------
------------------------
------------------------
--------second block----
------------------------
------------------------
----------------------*/

.block2{
    margin: 75px auto 0px;
    display:flex;
    justify-content:center;
    width:1366px;
}

.uslugi__tittle {
    
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    }

.uslugi__text {
font-size: 15px;
line-height: 25px;
font-weight: 400;
}

.uslugi__btn
{
 display:inline-block;
 background-color: black;
 padding:18px 34px 17px 33px;
 color:white;
}

.uslugi__link
{
 display:block;
 margin:29px 0px 0px 0px;
 text-decoration: underline;
 color:black;
 font-size: 15px;
 font-weight: 400;
}

/*----------------------
------------------------
------------------------
--------third  block----
------------------------
------------------------
----------------------*/
.block3 {
    display:flex;
    width:1366px;
    margin:79px auto 0px;
}
.Whychooseus__title{
    background-color:black;
    color:white;
    padding: 57px 5px 56px 249px;
    line-height: 25px;
    font-size: 50px;
    font-weight: 400;
    
}

/*----------------------
------------------------
------------------------
--------fourth  block---
------------------------
------------------------
----------------------*/



.block4{
    width:1366px;
    height:350px;
    background-color:#ebebeb;
    margin:0px auto 0px;
    display:wrap;

}
.block4-stroka{
    display:flex;
    width:880px;
    height:100px;
    margin:0px auto 0px;
    
    }


.block4-pic-and-text{
display:inline-block;
width:440px;
}

.block4-stroka__item{
 display:flex;
 padding-top:50px;
}





.block4__tittle{
    font-size: 25px;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: 400;
    margin:4px 0px 0px 5px;
    letter-spacing: 0.1em;
   

}

.block4__text{
    margin:0px 10px 0px; 
   
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;



}

.block4_stroka2{
    display:flex;
    width:880px;
    height:100px;
    margin:50px auto 0px;
}


/*----------------------
------------------------
------------------------
--------fifth  block---
------------------------
------------------------
----------------------*/

.block5 {
 width:1366px;
 height:249px;
 display:flex;
 margin:50px;

}
.block5-adress, .block5-pochta {
    width:440px;
    height:249px;
    margin:0px 0px 0px 243px;
}

.block5-title{
    margin:82px 0px 0px 0px;
    font-size: 50px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.block5__street{
   
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    margin:39px 0px 0px 0px;

}


.block5__telephone
{
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    margin:35px 0px 0px 0px;
}

.block5__mailbox
{margin:152px 0px 0px 0px;
    display:flex;
    align-items:center;
}



.block5__icons
{
 margin:30px 0px 0px 0px;
 display:flex;
 width:189px;
 height:24px;
 justify-content:space-between;
}


/*----------------------
------------------------
------------------------
--------six  block---
------------------------
------------------------
----------------------*/



.block6
{
 width:1366px;
 height:475px;
 background-color:black;
 display:flex;
}

.block6__tittle
{
    margin:54px 0px 0px 60px;
    font-size: 25px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.block6__message
{
    margin:25px 0px 0px 60px;
}


.block6__inf{
    width:374px;
    height:50px;
    border: 2px solid #949694;
    background-color:#262526;
    font-family: 'PT Sans';
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #959595;
}

.heightarea{
    height:100px;
}



.block6_connect_button{
 margin:25px 0px 0px 60px;
}


/*----------------------
------------------------
------------------------
--------footer----------
------------------------
------------------------
----------------------*/


.footer{
width:1366px;
height:126px;  
display:flex;  
}

.footer_text
{
margin:59px 0px 0px 247px;


}

.footer_logo{
    margin:44px 0px 0px 410px;
    
}